@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500,700");
@keyframes fadeIn {
  0% {
    top: 420px;
  }
  100% {
    top: 20px;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    top: 420px;
  }
  100% {
    top: 20px;
  }
}
* {
  outline: 0 !important;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  font: 400 1rem "Raleway", sans-serif;
  font-size: 1rem;
  color: #424753;
}

.flex {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.row, .container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.center-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visibles {
  visibility: visible !important;
  opacity: 1 !important;
}

.only-small {
  display: none;
}

header.header {
  background: url("../images/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
}
header.header .navbar .navbar-brand {
  margin-right: auto;
}
header.header .navbar .navbar-collapse {
  width: inherit;
}
header.header .navbar .nav-item {
  margin-right: 20px;
}
header.header .navbar .nav-item .nav-link {
  font: 400 1rem "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  transition: color .5s;
}
header.header .navbar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
header.header .navbar .nav-item .nav-link small {
  font-size: .9rem;
  line-height: .8px;
  font: 300 1rem "Raleway", sans-serif;
}
header.header .navbar .dropdown-menu {
  display: initial;
  min-width: 300px;
  left: -221px;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s,visibility .5s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
header.header .navbar .dropdown-menu .dropdown-header {
  background: #fff;
  border-bottom: 1px solid #eceff3;
  padding: 1rem 0rem;
  padding-left: .2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
header.header .navbar .dropdown-menu .dropdown-header .user-info {
  margin-top: 20px;
  margin-left: 15px;
}
header.header .navbar .dropdown-menu .dropdown-header .user-info .username {
  font-size: 16px;
  margin-bottom: 3px;
}
header.header .navbar .dropdown-menu .dropdown-header .user-info .github {
  font-size: 13px;
  font-weight: 300;
}
header.header .navbar .dropdown-menu .dropdown-item {
  font: 600 1rem "Raleway", sans-serif;
  color: #424753;
  font-size: 11px;
  margin-top: 9px;
  text-transform: uppercase;
  transition: color .5s;
}
header.header .navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgba(66, 71, 83, 0.5);
}
header.header .navbar .dropdown-menu .dropdown-item.faded {
  color: rgba(66, 71, 83, 0.5);
}
header.header .navbar .dropdown-menu .dropdown-item.edit-link {
  background: #663FB5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #663FB5, #2B8BE3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #663FB5, #2B8BE3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  padding-top: 9px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: 3.1px 2.2px 10px #424753;
  border: none;
  transition: opacity .9s;
}
header.header .navbar .dropdown-menu .dropdown-item.edit-link:hover {
  opacity: .7;
}
header.header .header-content {
  text-align: center;
  color: #fff;
  height: 90%;
}
header.header .header-content .title {
  margin-top: 195px;
  font: 400 1rem "Raleway", sans-serif;
  font-size: 5.8rem;
}
header.header .header-content .title-small {
  font-weight: 300;
}
header.header .header-content .title-small em {
  color: rgba(255, 255, 255, 0.8);
}
header.header .header-content .title-small .link {
  color: #fff;
  text-decoration: none;
  transition: color .6s;
}
header.header .header-content .title-small .link:hover {
  color: rgba(255, 255, 255, 0.5);
}
header.header .header-content .btn-sketch {
  width: 240px;
  margin-top: 55px;
  background: #fff;
  color: #6c59b4;
  padding: 15px 40px 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: background .5s;
}
header.header .header-content .btn-sketch:hover {
  background: rgba(255, 255, 255, 0.5);
}
header.header .header-content .btn-sketch .sketch-icon {
  padding-right: 15px;
}
header.header .social-row {
  margin-top: 90px;
}
header.header .social-row .social {
  padding-right: 15px;
  padding-left: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Lato', sans-serif;
}
header.header .social-row .social:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}
header.header .social-row .social img {
  padding-right: 8px;
}
header.header .social-row .social.last {
  border-right: none;
}

@media only screen and (min-width: 1445px) {
  header.header .header-content .title {
    font-size: 5rem;
  }
  header.header .header-content .title-small {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 1019px) {
  header.header .header-content .title {
    font-size: 3.5rem;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .container-fluid {
    position: relative;
  }

  .container, .navbar {
    position: initial;
  }

  .only-small {
    display: inline;
  }

  header.header .navbar-toggler {
    z-index: 2;
    height: 2.2em;
  }
  header.header .navbar-toggler .navbar-toggler-icon {
    background: #fff;
    height: 1.5px;
    position: relative;
  }
  header.header .navbar-toggler .navbar-toggler-icon::after, header.header .navbar-toggler .navbar-toggler-icon::before {
    content: '';
    background: #fff;
    width: 1.5em;
    height: 1.5px;
    position: absolute;
    left: 0;
    transition: transform .5s, background .5s;
  }
  header.header .navbar-toggler .navbar-toggler-icon::after {
    top: -10px;
  }
  header.header .navbar-toggler .navbar-toggler-icon::before {
    bottom: -10px;
  }
  header.header .navbar-toggler .open-toggler {
    background: transparent;
  }
  header.header .navbar-toggler .open-toggler::after {
    top: 0;
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -webkit-transform: rotate(-45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }
  header.header .navbar-toggler .open-toggler::before {
    bottom: 0;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
  }
  header.header .navbar-collapse {
    background: #663FB5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #663FB5, #2B8BE3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #663FB5, #2B8BE3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    padding-bottom: 50px;
    z-index: 1;
    height: 100%;
  }
  header.header .navbar-collapse .navbar-nav {
    margin-top: 40px;
  }
  header.header .navbar-collapse .navbar-nav .nav-item {
    text-align: center;
    margin-bottom: 20px;
  }
  header.header .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1.6rem;
  }
  header.header .navbar-collapse .navbar-nav .nav-item .nav-link small {
    font-size: 1.3rem;
  }
  header.header .header-content {
    height: 100%;
  }
  header.header .header-content .title {
    margin-top: 70px;
    font-size: 2.1rem;
  }
  header.header .header-content .social-row {
    margin-top: 50px;
  }
  header.header .navbar-nav .dropdown-menu {
    width: 40%;
    min-width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  header.header .navbar-nav .dropdown-menu .dropdown-header {
    display: none;
  }
  header.header .navbar-nav .dropdown-menu .edit-link {
    display: none;
  }
}
.intro {
  background-color: #f4f5f7;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
  overflow: hidden;
}
.intro .title {
  margin-top: 30px;
  font: 200 1rem "Raleway", sans-serif;
  font-size: 1.8rem;
}
.intro .title-small {
  margin-top: 18px;
  font: 100 1rem "Raleway", sans-serif;
  font-size: 1.5rem;
}
.intro .mock {
  position: relative;
  top: 420px;
}
.intro .lg-mock {
  display: initial;
}
.intro .lg-sm {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .intro .lg-mock {
    display: none;
  }
  .intro .lg-sm {
    display: initial;
  }
  .intro .title {
    font-size: 1rem;
    font-weight: 400;
  }
  .intro .title-small {
    font-size: 0.9rem;
    font-weight: 300;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.feature {
  padding: 40px 2px;
}
.feature .block-header {
  text-align: center;
  margin-top: 30px;
}
.feature .block-header img {
  margin-left: auto;
  margin-right: auto;
}
.feature .block-header .title {
  font-size: 25px;
  font-weight: 600;
  margin-top: 19px;
}
.feature .block-header .title-small {
  font-size: 19px;
  font-weight: 400;
}
.feature .block-body {
  margin-top: 15px;
}
.feature .block-body .lead {
  text-align: center;
  font-size: 17px;
  font-weight: 200;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .feature .container {
    flex-direction: column;
  }
}
.video-section {
  border-right: none;
  border-left: none;
  position: relative;
  max-height: 595px;
}
.video-section .video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
.video-section .video-container:hover .pause-icon {
  opacity: 1;
}
.video-section .video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.video-section .video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-section .video-container video.fillWidth {
  width: 100%;
}
.video-section .video-container .pause-icon {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.video-section .video-container .play-icon,
.video-section .video-container .pause-icon {
  position: absolute;
  z-index: 9;
  background: transparent;
  border: none;
  top: 40%;
  left: 45%;
  cursor: pointer;
}
.video-section .video-container .play-icon img,
.video-section .video-container .pause-icon img {
  width: 80px;
}

.pricing {
  background-color: #f4f5f7;
  padding-top: 40px;
  padding-bottom: 80px;
}
.pricing .title.top {
  text-align: center;
  font: 200 1rem "Raleway", sans-serif;
  font-size: 2rem;
  margin-top: 25px;
  margin-bottom: 70px;
}
.pricing .price-box {
  background-color: #fff;
  padding: 0;
  border: 1px solid #eceff3;
  border-radius: 5px;
}
.pricing .price-box .block-header {
  background-color: #eceff3;
  padding: 20px 0px 8px;
}
.pricing .price-box .block-header .title {
  font: 500 1rem "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.pricing .price-box .block-body {
  text-align: center;
}
.pricing .price-box .block-body .title-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 30px;
  font: 300 1rem "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.9;
}
.pricing .price-box .block-body .price-tag {
  font-family: 'Lato', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}
.pricing .price-box .block-body .price-tag .curreny {
  top: -1.4em;
  font-size: 1.6rem;
}
.pricing .price-box .block-body .price-tag .price {
  font-size: 3.5rem;
}
.pricing .price-box .block-body .price-tag .price-term {
  color: #aeb0b5;
  margin-left: -5px;
  font-variant: small-caps;
  font-size: 1rem;
}
.pricing .price-box .block-body .features-list .feature-title {
  font: 400 1rem "Raleway", sans-serif;
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ededef;
}
.pricing .price-box .block-body .features-list .feature-title:last-child {
  border: none;
}
.pricing .price-box .block-body .btn-get-started {
  padding: 1.2rem 3.125rem 1.1rem;
  border-radius: 45px;
  background-color: transparent;
  border: 1px solid #663fb5;
  color: #663fb5;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.pricing .price-box .block-body .btn-get-started:hover {
  color: rgba(102, 63, 181, 0.5);
}

.pricing .middel-box {
  order: 2;
  z-index: 3;
  height: 630px;
  border: 2px solid #6c59b4;
}
.pricing .middel-box .block-header {
  background-color: rgba(102, 63, 181, 0.5);
  color: #6c59b4;
}
.pricing .middel-box .block-body .btn-get-started-focus {
  background-color: rgba(102, 63, 181, 0.5);
  border: none;
  margin-top: 40px;
}
.pricing .price-box.right {
  order: 3;
  right: 370px;
}
.pricing .price-box.left {
  order: 1;
  left: 370px;
}
.pricing .hidden-box {
  height: 590px;
  position: relative;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .pricing .title.top {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .pricing .flex-col-small {
    flex-direction: column;
  }
  .pricing .flex-col-small .price-box.left {
    left: 0;
  }
  .pricing .flex-col-small .price-box.right {
    right: 0;
  }
  .pricing .flex-col-small .price-box {
    margin-bottom: 20px;
    border: 1px solid #eceff3;
  }
  .pricing .flex-col-small .price-box .block-header {
    background-color: #eceff3;
    color: #424753;
  }
  .pricing .flex-col-small .price-box .block-body .btn-get-started {
    border: 1px solid #663fb5;
    background-color: transparent;
  }
}
.testimonials {
  background: url("../images/se-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  height: 500px;
}
.testimonials .carousel {
  height: 100%;
}
.testimonials .carousel .blockquote {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  border-left: none;
  text-align: center;
  margin-top: 50px;
}
.testimonials .carousel .blockquote .avatar {
  width: 110px;
  border: 5px solid #eceff3;
}
.testimonials .carousel .blockquote .quote, .testimonials .carousel .blockquote .username {
  color: #fff;
}
.testimonials .carousel .blockquote .quote {
  margin-top: 50px;
}
.testimonials .carousel .blockquote .username {
  margin-top: 10px;
  margin-bottom: 30px;
}
.testimonials .carousel .indicators {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 0;
  cursor: pointer;
}
.testimonials .carousel .indicators li {
  margin-right: 20px;
}
.testimonials .carousel .indicators li:not(.active) {
  opacity: 0.3;
}
.testimonials .carousel .indicators .avatar-small {
  width: 45px;
  border: 2px solid #eceff3;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .testimonials {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .testimonials .container {
    padding-left: 0;
    padding-right: 0;
  }
  .testimonials .container .carousel .blockquote {
    height: 290px;
    width: 100%;
  }
  .testimonials .container .carousel .blockquote .quote {
    font-size: 0.9rem;
  }
  .testimonials .container .carousel .blockquote .username {
    font-size: 1rem;
    font-weight: 500;
  }
  .testimonials .container .carousel .indicators {
    margin-top: 28px;
  }
  .testimonials .container .carousel .indicators li {
    margin-right: 10px;
    margin-left: auto;
  }
}
section.text {
  padding-top: 20px;
  padding-bottom: 80px;
}
section.text .title {
  text-align: center;
  font: 300 1rem "Raleway", sans-serif;
  font-size: 1.8rem;
  margin-top: 25px;
}
section.text .text-row {
  margin-top: 60px;
}
section.text .text-row .text-col .leads {
  font: 300 1rem "Raleway", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
section.text .text-row .text-col.left {
  left: -900px;
}
section.text .text-row .text-col.right {
  right: -900px;
}
section.text .text-row .divider {
  border-right: 1px solid #eceff3;
  max-width: 5.333333%;
  padding: 0;
}
