// $font-primary: #424753;
// $font-secondary: #fff;
// $purple: #6c59b4;
// $light-gray: #eceff3;
// $bg-inverse: #312f38;
// $bg-light: #f4f5f7;

// // font: font-style font-variant font-weight font-size/line-height font-family;
// $font-thin: 100 'Raleway', sans-serif;
// $font-extraLight: 200 'Raleway', sans-serif;
// $font-light: 300 'Raleway', sans-serif;
// $font-regular: 400 'Raleway', sans-serif;
// $font-medium: 500 'Raleway', sans-serif;
// $font-semiBold: 600 'Raleway', sans-serif;
// $font-bold: 700 'Raleway', sans-serif;

// $font-italic-semibold: italic 600 'Raleway', sans-serif;
// $font-italic-bold: italic 700 'Raleway', sans-serif;



*{
	outline: 0 !important;
}

html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

body{
	font: $font-regular;
	font-size: 1rem;
	color: $font-primary;
}

.flex{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  -webkit-flex-direction: row;
	flex-direction: row;
}
.flex-col{
	-webkit-flex-direction: column;
	flex-direction: column;
}

.row, .container-fluid{
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.center-content{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.visibles{
	visibility: visible !important;
	opacity: 1 !important;
}

.only-small{
	display: none;
}

.ml-a{
	margin-left: auto !important;
}
.mr-a{
	margin-right: auto !important;
}


