// $font-primary: #424753;
// $font-secondary: #fff;
// $purple: #6c59b4;
// $light-gray: #eceff3;
// $bg-inverse: #312f38;
// $bg-light: #f4f5f7;
// $gray-light-faded: rgba(255, 255, 255, .5);

// // font: font-style font-variant font-weight font-size/line-height font-family;
// $font-thin: 100 'Raleway', sans-serif;
// $font-extraLight: 200 'Raleway', sans-serif;
// $font-light: 300 'Raleway', sans-serif;
// $font-regular: 400 'Raleway', sans-serif;
// $font-medium: 500 'Raleway', sans-serif;
// $font-semiBold: 600 'Raleway', sans-serif;
// $font-bold: 700 'Raleway', sans-serif;

// $font-italic-semibold: italic 600 'Raleway', sans-serif;
// $font-italic-bold: italic 700 'Raleway', sans-serif;

header.header{
	@include imageCover('../images/bg-image.png', 100%, 800px);	
	padding-top: 20px;
	padding-bottom: 30px;
	.navbar{
		.navbar-brand{
			margin-right: auto;
		}
		.navbar-collapse{
			width: inherit;
		}
		.nav-item{
			margin-right: 20px;
			.nav-link{
				font: $font-regular;
				font-size: 1.2rem;
				color: $font-secondary;
				transition: color .5s;
				&:hover{
					color: $gray-light-faded;
				}
				small{
					font-size: .9rem;
					line-height: .8px;
					font: $font-light;
				}
			}
		}
		.dropdown-menu{
			display: initial;
			min-width: 300px;
			left: -221px;
			visibility: hidden;
			opacity: 0;
			transition: opacity .5s,visibility .5s;
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			.dropdown-header{
				background: $font-secondary;
				border-bottom: 1px solid $light-gray;
				padding: 1rem 0rem;
				padding-left: .2rem;
				width: 80%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
				.user-info{
					margin-top: 20px;
					margin-left: 15px;
					.username{
						font-size: 16px;
						margin-bottom: 3px;
					}
					.github{
						font-size: 13px;
						font-weight: 300;
					}
				}
			}
			.dropdown-item{
				font: $font-semiBold;
				color: $font-primary;
				font-size: 11px;
				margin-top: 9px;
				text-transform: uppercase;
				transition: color .5s;
				&:hover{
					background: transparent;
					color: $gray-faded;
				}
			}
			.dropdown-item.faded{
				color: $gray-faded;
			}
			.dropdown-item.edit-link{
				@include gradient();
				width: 40px;
				height: 40px;
				border-radius: 50%;
				padding: 0;
				padding-top: 9px;
				padding-left: 10px;
				margin-left: auto;
				margin-right: 20px;
				margin-bottom: 10px;        
				box-shadow: 3.1px 2.2px 10px $font-primary;
				border: none;
				transition: opacity .9s;
				&:hover{
					opacity: .7;
				}
			}
		}

	}

	.header-content{
		text-align: center;
		color: $font-secondary;
		height: 90%;
		.title{
			margin-top: 195px;
			font: $font-regular;
			font-size: 5.8rem;
		}
		.title-small{
			font-weight: 300;
			em{
				color: rgba(255, 255, 255, 0.8);
			}
			.link{
				color: $font-secondary;
				text-decoration: none;
				transition: color .6s;
				&:hover{
					color: $gray-light-faded;
				}
			}
		}
		.btn-sketch{
			width: 240px;
			margin-top: 55px;
			background: $font-secondary;
			color: $purple;
			padding: 15px 40px 12px;
			border-radius: 25px;
			cursor: pointer;
			transition: background .5s;
			&:hover{
				background: $gray-light-faded;
			}
			.sketch-icon{
				padding-right: 15px;
			}
		}
	}

	.social-row{
		margin-top: 90px;
		.social{
			padding-right: 15px;
			padding-left: 20px;
			border-right: 1px solid $gray-light-faded;
			color: $gray-light-faded;
			font-family: 'Lato', sans-serif;
			&:hover{
				text-decoration: none;
				color: rgba(255, 255, 255, .3);
			}
			img{
				padding-right: 8px;
			}
		}
		.social.last{
			border-right: none;	
		}
	}
}


@media only screen
and (min-width : 1445px) {
	header.header{
		.header-content{
			.title{
				font-size: 5rem;
			}
			.title-small{
				font-size: 1.8rem;
			}
		}
	}
}



@media only screen
and (max-width : 1019px) {
	header.header{
		// height: 750px;
		.header-content{
			.title{
				font-size: 3.5rem;
			}
		}
	}
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
	.container-fluid{
		position: relative;
	}
	.container, .navbar{
		position: initial;
	}

	.only-small{
		display: inline;

	}

	header.header{
		// height: 100vh;
		.navbar-toggler{
			z-index: 2;
			// border: none;
			height: 2.2em;
			.navbar-toggler-icon{
				background: #fff;
				height: 1.5px;
				position: relative;
				&::after,
				&::before{
					content: '';
					background: #fff;
					width: 1.5em;
					height: 1.5px;
					position: absolute;
					left: 0;
					transition: transform .5s, background .5s;
				}
				&::after{
					top: -10px;
				}
				&::before{
					bottom: -10px;
				}
			}
			.open-toggler{
				background: transparent;	
				&::after{
					top: 0;
					-ms-transform: rotate(-45deg); /* IE 9 */
			    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
			    transform: rotate(-45deg);
				}
				&::before{
					bottom: 0;
					-ms-transform: rotate(45deg); /* IE 9 */
			    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
			    transform: rotate(45deg);
				}
			}
		}
		.navbar-collapse{
			@include gradient();
			position: absolute;
			top: 0;
			left: 0;
			width: 100% !important;
			padding-bottom: 50px;
			z-index: 1;
			height: 100%;
			// overflow-y: auto;
			.navbar-nav{
				margin-top: 40px;
				.nav-item{
					text-align: center;
					margin-bottom: 20px;
					.nav-link{
						font-size: 1.6rem;
						small{
							font-size: 1.3rem;
						}
					}
				}
			}
		}
		.header-content{
			height: 100%;
			.title{
				margin-top: 70px;
				font-size: 2.1rem;
			}
			.social-row{
				margin-top: 50px;
			}
		}
		.navbar-nav{
			.dropdown-menu{
				width: 40%;
				min-width: 80%;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				display: block;

				.dropdown-header{
					display: none;
				}
				.edit-link{
					display: none;
				}
			}
		}
	}
}
