@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato');

$font-primary: #424753;
$font-secondary: #fff;
$purple: #6c59b4;
$purple-dark: #663fb5;
$light-gray: #eceff3;
$bg-inverse: #312f38;
$bg-light: #f4f5f7;
$gray-light-faded: rgba(255, 255, 255, .5);
$gray-faded: rgba(66, 71, 83, .5);

// font: font-style font-variant font-weight font-size/line-height font-family;
$font-thin: 100 1rem 'Raleway', sans-serif;
$font-extraLight: 200 1rem 'Raleway', sans-serif;
$font-light: 300 1rem 'Raleway', sans-serif;
$font-regular: 400 1rem 'Raleway', sans-serif;
$font-medium: 500 1rem 'Raleway', sans-serif;
$font-semiBold: 600 1rem 'Raleway', sans-serif;
$font-bold: 700 1rem 'Raleway', sans-serif;

$font-italic-semibold: italic 600 1rem 'Raleway', sans-serif;
$font-italic-bold: italic 700 1rem 'Raleway', sans-serif;

