.video-section{
	position: relative;
	width: 100%;
	height: 760px;
	z-index: 1;
	background: $bg-inverse;
	.video{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.vjs-poster{
		background-size: cover;
		width: 100%;
	}
	.vjs-control-bar{
		background-color: rgba(108, 89, 180, 0.5);
	}
	.vjs-button::before,
	.vjs-volume-high::before,
	.vjs-play-progress::before,
	.vjs-remaining-time-display,
	.vjs-play-progress{
		color: $purple-dark !important;
	}
	.vjs-slider,
	.vjs-load-progress{
		background-color: rgba(102, 63, 181, 1);
		background-color: rgba(102, 63, 181, 0.5);
	}
	.vjs-big-play-button{
		display: none;
	}

}