.video-section{
	border-right: none;
	border-left: none;
	position: relative;	
	// .no-video,
	// .touch{
	// 	.video-container{
	// 		video{
	// 			display: none;
	// 		}
	// 		.poster{
	// 			display: block !important;
	// 		}
	// 	}
	// }
	.video-container{
		position: relative;
		bottom: 0%;
		left: 0%;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background: #fff;
		&:hover .pause-icon{
			opacity: 1;
		}
		.poster{
			display: none;
			img{
				width: 100%;
				bottom: 0;
				position: absolute;
			}
		}
		.filter {
		  z-index: 100;
		  position: absolute;
		  background: rgba(0, 0, 0, 0.4);
		  width: 100%;
		}
		video {
		  position: absolute;
		  z-index: 0;
		  bottom: 0;
		}
		video.fillWidth {
		  width: 100%;
		}
		.pause-icon{
			display: none;
			opacity: 0;
			transition: opacity 0.5s;
		}
		.play-icon,
		.pause-icon{
			position: absolute;
			z-index: 9;
			background: transparent;
			border: none;
			top: 40%;
			left: 45%;
			cursor: pointer;
			img{
				width: 80px;
			}
		}
	}
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
	body{
		overflow-x: auto; 
	}
	.video-section{
		.video-container{
			overflow: scroll;
		}
	}
}


